  <h1 class="centrado title-principal">Curso de Angular & .Net Core</h1>
  
  <div class="container">    

    <h2>{{title}} Bases de Angular</h2>

    <h3>Ejercicio Práctico</h3>

    <p>
      Cambiar valores del número del recuadro con los botones
    </p>
    <div class="container-numero">
      <h1 class="centrado numero">{{numero}}</h1>
    </div>

    <div class="centrado">
      <button (click)="duplicar()">Duplicar</button>  
      <button (click)="triplicar()">Triplicar</button>     
      <button (click)="reiniciar()">Reiniciar</button>
    </div>
    
  </div>
  



  

