h2 {    
    color: red;
}

.container {
    float: left;
    margin: 0 auto;
    padding: 20px;
}

.title-principal {
    color: blue;
    text-shadow: 2px 2px 5px black;
    font-size: 50px;
}

.numero {
    font-size: 60px;
    color: green;
}

.container-numero {    
    border: 1px solid red;
}


